.forecast .day-forecast {
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#PValue,
#HValue,
#WValue,
#SRValue,
#SSValue,
#MinValue,
#MaxValue {
  font-size: 0.9em;
  padding-top: 4px;
}
.carousel-item {
  height: 400px;
}
.carousel-item img {
  height: 100%;
}
.carousel-caption {
  position: absolute;
  bottom: 50px;
  text-align: center;
}
#favoriteLocations:hover {
  cursor: pointer;
}
